.row
  .small-4.columns
    #left
      .row
        .small-6.columns
          %select
            %option VIP Section
            %option General Admission
        .small-3.columns
          %input#seatNumber{type: 'text', placeholder: '#'}
        .small-3.columns
          %input#createSeats.button.small.success{type: 'button', value: 'Create Seats'}
  .small-8.columns
    #right
